[Desktop Entry]
Name=shades-bw
Comment=black & white mode of shades
Exec=shades bw
Terminal=true
Icon=/usr/share/icons/shades-bw.png
Categories=System;
